/* You can add global styles to this file, and also import other style files */
:root {
  --full: 100%;
  --medium: 50%;

}

*,
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

:is(h2) {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

h2 {
  width: var(--full);
  height: 10rem;
  padding: 0.3125rem;
  background-color: yellow;
  text-transform: capitalize;
  font-size: 2em;

}

body::after::before {
  content: '';
  display: table;
  clear: both;
}
